* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0px auto;
  border: 2px solid orange;
}

.splash {
  background: #3B89D0;
  color: white;
  text-align: center;
  padding: 40px 0;
}

  
.splash .secondary-title {
  color: rgba(255,255,255,.75);
}

.secondary-title {
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
  color: rgba(0,0,0,.6);
  font-family: georgia;
  font-weight: 400;
}

.screenshot img {
  width: 80%;
}

.buttons {
  margin: 20px 0 15px 0;
}

.btn {
  background: rgba(255,255,255,0.2);
  color: white;
  width: 140px;
  display: inline-block;
  padding: 15px 0;
  margin: 10px 10px 30px 10px;
  text-decoration: none;
  border-radius: 40px;
}

.btn-primary {
  background: #2DD98E;
  transition: all .3s;
}

.screenshot p {
  opacity: .4;
  transition: opacity .2s;
}

.splash:hover .screenshot p {
  opacity: 1;
}

.demo {
  background: transparent;
  position: relative;
}

.demo::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0);
  transform: scale(.4);
  transition: all .2s;
}

.demo:hover::before {
  transform: scale(1);
  background: rgba(0,0,0,.2);
}

.btn-primary:hover {
  box-shadow: 0px 3px 6px rgba(0,0,0,.7);  
  transform: translate(0, -3px);
}

.btn-primary:active {
  transform: scale(.95);
  box-shadow: 0 3px 3px rgba(0,0,0,.3);
  color: #2DD98E;
  background: white;
}

.features {
  padding: 40px 0;
}

.features h2 {
  text-align: center;
}

.features-list li {
  width: 33%;
  float: left;
  padding: 10px;
}

.features-list {
  font-family: "Open Sans";
}


@media(max-width: 700px) {
  
  .features-list li {
    width: 50%%;
  }
  
}


@media(max-width: 500px) {
  
  .btn {
    text-transform: uppercase;
  }
  
  .features-list li {
    width: 100%;
  }
  
}

