<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="./grocery_script.js"></script>
</head>
<body ng-app="phoneBook">
  <div class="container" ng-controller="PhoneCtrl">
    <h1>Gabe's Grocery List</h1>
    <form ng-submit="addPerson()">
      Food Item: <input type="text" class="form-control" ng-model="newItem">
      Quantity: <input type="text" class="form-control" ng-model="newItemQuantity">
      <button class="btn btn-default" ng-click="addItem()">Submit</button>
    </form>
    <label>Search: <input ng-model="asdfl"></label>
    <ol>
      <li ng-repeat="item in items | filter:asdfl">
          <div ng-hide="item.isEditing">
            <span  ng-dblclick="item.isEditing = true">{{item.name}} - {{item.quantity}} </span>
            <span><button class="btn btn-small" ng-click="incQuantity(item)">+</button></span>
            <span><button class="btn btn-small" ng-click="decQuantity(item)">-</button></span> 
            <span><button class="btn" ng-click="item.isEditing = true">edit</button></span>
            <span><button class="btn" ng-click="deleteItem($index)">delete</button></span>
            
          </div>
          <div ng-show="item.isEditing">
            <input ng-model="item.name">
            <span><button class="btn" ng-click="item.isEditing = false">done</button></span>
          </div>
      </li>
    </ol>
  </div>
</body>
</html>